.wrapper {

  .game-info-and-controller {
    display: flex;
    justify-content: space-between;
    .game-info {}
    .controller {}
  }

  table {
    .cell {
      width: 90px;
      height: 90px;

      .number-wrapper {
        width: 40px;
        height: 40px;
        background-color: bisque;
      }
    }
  }

}

