.wrapper {

  width: 100%;

  .game-info-and-controller {
    display: flex;
    justify-content: space-between;
    .game-info {}
    .controller {
      display: flex;
      flex-direction: column;
      .newGameButton {
        margin-bottom: 5px;
      }
    }
  }

  table {
    margin: auto;
    transform: translateX(-10%);

    .cell {
      width: 90px;
      height: 90px;

      .number-wrapper {
        width: 40px;
        height: 40px;
      }
    }
  }

}

