<h2>Find Number: {{currentNumber + 1}}</h2>
<table>
  @for (rowData of dataSet; track rowData) {
    <tr>
      @for (cellData of rowData; track cellData) {
        <td class="cell">
          <div class="rotate: 60deg;" [ngStyle]="{'transform': 'translate(' + cellData.x + 'px' + ', ' + cellData.y + 'px' + ')', 'rotate': cellData.reg + 'deg'}">
            <app-select-number
              [value]="cellData.number"
              [currentNumber]="currentNumber"
              (onSelected)="selectNumber()"
            ></app-select-number>
          </div>
        </td>
      }
    </tr>
  }
</table>
